// Typography
$FONT_SIZE: 24px;
$LINE_HEIGHT: 28px;
$LETTER_SPACING: 0.5px;

$MOBILE_FONT_SIZE: 20px;
$MOBILE_LINE_HEIGHT: 24px;
$MOBILE_LETTER_SPACING: 0px;

// Margin and sizes
$MAX_WIDTH: 1480px;
$OVERALL_MARGIN: 20px;
$GRID_GUTTER: 20px;

// Breakpoints
$MQ_SMALL: 550px;
$MQ_MEDIUM: 768px;
$MQ_LARGE: 1024px;
$MQ_XLARGE: 1280px;

// Color
$WHITE: #ffffff;
$BLACK: #000000;
